
  <h1 class="text-2xl font-bold mb-4">Login</h1>
  <%= form_tag sessions_path, class: "bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" do |form| %>
    <div class='mb-6'>
      <%= label_tag :email, "Email", class: "block text-gray-700 font-bold mb-2" %>
      <%= text_field_tag :emaail, nil, class: "shadow appearance-none border rounded w-full py-4 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>
    <div class='mb-6'>
      <%= label_tag :password, "Password", class: "block text-gray-700 font-bold mb-2" %>
      <%= password_field_tag :password, nil, class: "shadow appearance-none border rounded w-full py-4 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>
    <div class='flex items-center justify-between'>
      <%= submit_tag 'Login', class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
      <%= link_to "Back", home_index_path, class: "bg-blue-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
    </div>
  <% end %>
</div>
