<div class="container mx-auto">
  <% if current_client %>
    <div class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="text-3xl font-bold">Welcome, <%= current_client.name %> from <%= current_client.company %>!</h1>
    <%= link_to "View My Details", current_client, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium mt-2" %>    
    </div>
    <% if current_client.hotels.any? %>
      <h2 class="text-xl font-bold mb-2">Your hotels:</h2>
      <ul class="list-disc list-inside">
        <% current_client.hotels.each do |hotel| %>
          <li class="text-lg mb-4">
            <div class="bg-gray-100 rounded-lg p-4">
              <h3 class="text-lg font-bold mb-2"><%= link_to hotel.name , hotel_path(hotel)%></h3>
              <%= turbo_frame_tag "new_room" do %>
              <%= link_to "Add rooms", new_room_path(hotel_id: hotel.id),data: { turbo_frame: "remote_modal" }, class: "text-blue-500 hover:text-blue-700" %>
              <% end %>             
              <% if hotel.rooms.any? %>
                <h3 class="text-lg font-bold mb-2">Rooms:</h3>
                <ul class="list-disc list-inside">
                  <% hotel.rooms.each do |room| %>
                    <li class="text-md mb-2">
                      <a href="<%= room_path(room) %>"><%= room.room_type %></a>
                      <% if room.room_facilities.any? %>
                        <h3 class="text-lg font-bold mb-2">Facilities:</h3>
                        <ul class="list-disc list-inside">
                          <% room.room_facilities.each do |facility| %>
                            <li class="text-md mb-2">
                              <%= facility.room_facility_category.name %> - <%= facility.name %>
                            </li>
                          <% end %>
                          <%= turbo_frame_tag "new_room_facility" do %>
                          <%= link_to "Add more Facilities", new_room_facility_path(room_id: room.id),data: { turbo_frame: "remote_modal" }, class: "text-blue-500 underline" %>
                         <% end %>
                          </ul>
                      <% else %>
                      <%= turbo_frame_tag "new_room_facility" do %>
                        <p class="text-md">(No facilities added yet. <%= link_to "Add a facility", new_room_facility_path(room_id: room.id),data: { turbo_frame: "remote_modal" }, class: "text-blue-500 hover:text-blue-700" %>.)</p>
                      <% end %>
                        <% end %>
                    </li>
                  <% end %>
                </ul>
              <% else %>
                <p class="text-md">(No rooms added yet.)</p>
              <% end %>
            </div>
          </li>
        <% end %>
        <div class="fixed top-0 left-0 w-full bg-white shadow-md">
        <div class="container mx-auto">
          <ul class="flex justify-between items-center p-4">
            <li>
              <%= link_to "logout", logout_path, method: :delete, class: "text-lg font-bold text-blue-500 hover:text-blue-700" %>
            </li>
            <li>
            <%= turbo_frame_tag "new_hotel" do %>
              <%= link_to "Add a new hotel", new_hotel_path, data: { turbo_frame: "remote_modal" },class: "text-lg font-bold text-blue-500 hover:text-blue-700" %>
            <% end %>           
              </li>
          </ul>
        </div>
      </div>      
      </ul>
    <% else %>
    <ul class="flex justify-between items-center p-4">
    <li>
    <%= link_to "logout", logout_path, method: :delete, class: "text-lg font-bold text-blue-500 hover:text-blue-700" %>
    </li>
    </ul>
     <%= turbo_frame_tag "new_hotel" do %>
       <p class="text-lg">You have not added any hotels yet. <%= link_to "Add a new hotel", new_hotel_path,data: { turbo_frame: "remote_modal" }, class: "text-lg text-blue-500 hover:text-blue-700" %></p>
     <% end %>
    <% end %>
  <% else %>
  <div class="text-lg mt-8">
  <p class="mb-4">If you're a new client, <%= link_to "sign up", new_client_path, class: "text-blue-500 hover:text-blue-700" %> to get started. Already have an account? <%= link_to "Login here", login_path, class: "text-blue-500 hover:text-blue-700" %>.</p>
  <p>To access the regions and room facility categories, please <%= link_to "click here", "/admin", class: "text-blue-500 hover:text-blue-700" %>.</p>
</div>
  <% end %>
</div>
