<%= form_with(id: "room_facility_form", model: room_facility, class: "contents") do |form| %>
  <%= render 'shared/errors', obj: @room_facility %>
   
  <% if room_facility.new_record? %>
    <%= form.hidden_field :room_id, value: params[:room_id], class: "hidden-field" %>
  <% end %>


  <div class="field">
  <%= form.label :select_room_facility_category %>
  <%= form.collection_select :room_facility_category_id, RoomFacilityCategory.all, :id, :name, { prompt: "Please select" }, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
</div>

  
  <div class="field">
    <%= form.label :add_facilities_accodrding_your_category %><br/>
    <%= form.text_area :name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
