<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing room facility</h1>
  <%= form_with(model: @room_facility, class: "contents") do |form| %>
    <%= render 'shared/errors', obj: @room_facility %>

    <div class="field">
      <%= form.label :room_facility_category_id %>
      <%= form.collection_select :room_facility_category_id, RoomFacilityCategory.all, :id, :name %>
    </div>

    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>


   <div class="inline">
     <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
   </div>

    <%= link_to "Show this room facility", @room_facility, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Back to login page", root_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
<% end %>
